---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ContactForm from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import PageHero from '../components/PageHero.astro';
---

<Layout title="Contacto - Encaos">
  <Header />
  <main>
    <PageHero 
      title="Contáctanos" 
      description="Estamos aquí para ayudarte con cualquier pregunta que puedas tener sobre nuestros servicios."
    />
    <ContactForm />
  </main>
  <Footer />
</Layout> 
